---
import Layout from '../../../../packages/shared/Layout.astro';
import PostCard from '../../../../packages/shared/PostCard.astro';
import { fetchDiyPosts } from '../../../../packages/shared/strapi.js';

const posts = await fetchDiyPosts();
console.log('DIY Posts from Strapi:', posts);
const sortedPosts = posts.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<Layout title="Katie Langerman" siteType="diy" isDiySite={true}>
  <main>
    <section class="intro">
      <p>Sharing some things that I do that are not on my computer.</p>
    </section>

    <section class="diy-posts">
      {
        sortedPosts.length === 0 ? (
          <p class="no-posts">No DIY posts yet. Check back soon!</p>
        ) : (
          <div class="post-index">
            {sortedPosts.map((post) => (
              <PostCard
                title={post.title}
                date={new Date(post.date)}
                thumbnail={post.thumbnail}
                description={post.description}
                hasMore={post.content}
                slug={post.slug}
                type={post.type}
                externalUrl={post.externalUrl}
                darkThumbnail={post.darkThumbnail}
                emphasizeTitle
                hideDate
              />
            ))}
          </div>
        )
      }
    </section>
  </main>
</Layout>
