---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import CaseStudyCard from '../components/CaseStudyCard.astro';

const caseStudies = await getCollection('case-studies');
const sortedCaseStudies = caseStudies.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Katie Langerman | Systems Designer">
  <main>
    <section class="intro">
      <p>I’m a Staff Systems designer at GitHub, shipping code and nudging pixels for the Primer design system.</p>
      <p>I enjoy flexing into different domains. If there’s something that needs doing, I’ll do it.</p>
      <p>
        I co-host an interface design podcast called Complementary, and off screen I’m teaching myself interior design
        and _slowly_ renovating my house.
      </p>
    </section>
    <section class="post-index">
      {
        sortedCaseStudies.map((study) => (
          <CaseStudyCard
            title={study.data.title}
            date={study.data.date}
            thumbnail={study.data.thumbnail}
            description={study.data.description}
            hasMore={study.data.hasMore}
            slug={study.slug}
          />
        ))
      }
    </section>
  </main>
</Layout>
