---
export interface Props {
  title: string;
  date: Date;
  thumbnail?: string;
  description: string;
  hasMore: boolean;
  slug: string;
}

const { title, date, thumbnail, description, hasMore, slug } = Astro.props;

const formatDate = (date: Date) => {
  return new Intl.DateTimeFormat('en-US', {
    year: 'numeric',
    month: 'long',
  }).format(date);
};
---

<article class="card">
  <div class="card-title">
    <time datetime={date.toISOString()}>{formatDate(date)}</time>
    <span aria-hidden="true" class="separator">·</span>
    {
      hasMore ? (
        <h3>
          <a href={`/case-studies/${slug}`} class="read-more">
            {title}
          </a>
        </h3>
      ) : (
        <h3>{title}</h3>
      )
    }
  </div>
  <p>{description}</p>
  {
    thumbnail && (
      <div class="thumbnail">
        <img src={thumbnail} alt={title} />
      </div>
    )
  }
</article>
